<div class="container py-3 container--grid">

  <% spaces.each do |space| %>
    <%= link_to space_path(space, selected:  params[:select_date] ) do %>
      <div class="space-card hvr-grow">
        <div class="my-3">
          <%= cl_image_tag( space.photo.key, class: "card-image", width: 350, height: 200, crop: :pad) %>
        </div>
        <h2 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= space.title %></h2>
        <p class="description" >About<%= space.description %></p>
        <p>Location: <%= space.city %></p>
        <p>Capacity: <%= space.capacity %></p>
        <p>Price: <%= number_to_currency(space.price, unit: "", precision: 0, format: "%n %u") %> EUR</p>
      </div>
    <% end %>
  <% end %>
</div>
