<div class="primary-banner">
    <h1 class="mt-4 mb-4">Welcome to WorkshopRentals</h1>
</div>

<div class="py-3 my-3">
  <%= form_tag(spaces_path, method: :get) do %>
    <%= label_tag :city, "City:" %>
    <%= text_field_tag :city, params[:city], id: "city-field" %>

    <%= label_tag :availability, "Available only:" %>
    <%= check_box_tag :availability, true, params[:availability] %>
    
    <%= submit_tag "SEARCH" %>
  <% end %>
</div>

<div class="container py-3 container--grid">
  <% @spaces.each do |space| %>
    <%= link_to space_path(space) do %>
      <div class="card space-card hvr-grow">
        <h2><%= space.title %></h2>
        <h3><%= space.availability ? "Available 😄" : "Unavailable 😭" %></h3>
        <h3>Capacity: <%= space.capacity %> p.</h3>
        <p><strong>Listed by:</strong> <%= space.user.username %></p>
        <p><strong>Description:</strong> <%= space.description %></p>
        <p><strong>Facilities:</strong> <%= space.facilities %></p>
        <p><strong>Equipment:</strong> <%= space.equipment %></p>
        <p><strong>Address:</strong> <%= space.address %></p>
      </div>
    <% end %>
  <% end %>
</div>
