<div class="primary-banner">
  <h1 class="mt-4 mb-4">
    <% if user_signed_in? %>
    Welcome, to Workshop Rentals, <%= current_user.first_name %> 🧡
    <% else %>
      Welcome to Workshop Rentals!
    <% end %>
  </h1>

</div>

<div class="filter-container">
  <div class="filter-banner py-3 my-4">
    <%= form_tag(spaces_path, method: :get) do %>
      <div class="form-group">
        <%= label_tag :city, "City:" %>
        <%= text_field_tag :city, params[:city], id: "city-field" %>
      </div>
      
      <div class="form-group">
        <%= label_tag :availability, "Available only:" %>
        <%= check_box_tag :availability, true, params[:availability] %>
      </div>

      <div class="form-group">
        <%= submit_tag "SEARCH" %>
      </div>
    <% end %>
  </div>
</div>

  <% pictures = ["https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419179/Workshop/1.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419179/Workshop/2.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419179/Workshop/3.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419178/Workshop/4.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419178/Workshop/5.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419176/Workshop/6.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419176/Workshop/10.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419177/Workshop/7.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419175/Workshop/12.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419175/Workshop/14.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419175/Workshop/15.avif"] %>

<div class="container py-3 container--grid">

  <% @spaces.each do |space| %>
    <%= link_to space_path(space) do %>
      <div class="card space-card hvr-grow">
        <div class="my-3"> <%= cl_image_tag(pictures.sample, width: 350, height: 200, crop: :pad) %> </div>
        <h2><%= space.title %></h2>
        <h3><%= space.availability ? "Available 😄" : "Unavailable 😭" %></h3>
        <h3>Capacity: <%= space.capacity %> p.</h3>
        <p><strong>Description:</strong> <%= space.description %></p>
      </div>
    <% end %>
  <% end %>
</div>
