<!-- Top main div -->
<div class="row main-div">
  <!-- Sub div for space info -->
  <div class="col-md-6 space-info">
    <div class="card card-body">
      <h1><%= @space.title %></h1>
      <h2>Capacity: <%= @space.capacity %> p</h2>
      <p><strong>Listed by:</strong> <%= @space.user.username %></p>
      <p><strong>Description:</strong> <%= @space.description %></p>
      <p><strong>Facilities:</strong> <%= @space.facilities %></p>
      <p><strong>Equipment:</strong> <%= @space.equipment %></p>
      <p><strong>Address:</strong> <%= @space.address %></p>
    </div>
  </div>
  <!-- Sub div for price and book now -->
  <div class="col-md-6 price-info">
    <div class="card-body">
      <h3 class="card-title">Price: <%= number_to_currency(@space.price, unit: "", precision: 0, format: "%n %u") %> EUR/hour</h3>
      <% if user_signed_in? && current_user.lister? && current_user == @space.user %>
        <%= link_to "Edit Space", edit_space_path(@space), class: "btn btn-primary" %>
      <% elsif user_signed_in? && current_user.booker? %>
        <%= form_with url: bookings_path, method: :post do %>
          <%= hidden_field_tag :space_id, @space.id %>
          <%= hidden_field_tag :selected,  @selected_date %>
          <% unless Booking.find_by(user: current_user) %>
            <%= submit_tag "Book Now", class: "btn btn-light" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Below main div for reviews -->
<div class="row main-div">
  <div class="col-md-12 reviews">
    <h2>Reviews</h2>
    <% if @space.reviews.any? %>
      <% @space.reviews.each do |review| %>
        <div class="mb-3">
          <div class="card-body">
            <h5 class="card-title">Rating: <%= review.rating %></h5>
            <p class="card-text"><%= review.comment %></p>
            <p class="card-text"><small class="text-muted">Posted by <%= review.user.username %> on <%= review.created_at.strftime("%B %d, %Y") %></small></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No reviews yet.</p>
    <% end %>
  </div>
</div>
