<div class="row px-3">
<div class="card-body col-lg-6">
  <div class="row">
    <div class="col-lg-7">
      <div>
        <h1><%= @space.title %></h1>
        <h2>Capacity: <%= @space.capacity %> p</h2>
        <p><strong>Listed by:</strong> <%= @space.user.username %></p>
        <p><strong>Description:</strong> <%= @space.description %></p>
        <p><strong>Facilities:</strong> <%= @space.facilities %></p>
        <p><strong>Equipment:</strong> <%= @space.equipment %></p>
        <p><strong>Address:</strong> <%= @space.address %></p>
      </div>
    </div>
    <div class="col-lg-5">
      <%= cl_image_tag(@space.photo.key, width: 350, height: 350, crop: :pad) %>
    </div>
  </div>
</div>

    <div class="col-md-5">
      <div class="card-price">
        <h2 class="card-title">Price:</h3>
        <p class="card-text"><%= number_to_currency(@space.price) %> per hour</p>
        <% if user_signed_in? && current_user.lister? && current_user == @space.user %>
          <%= link_to "Edit Space", edit_space_path(@space), class: "btn btn-primary" %>
        <% elsif user_signed_in? && current_user.booker? %>
          <%= form_with url: bookings_path, method: :post do %>
            <%= hidden_field_tag :space_id, @space.id %>
            <%= hidden_field_tag :selected,  @selected_date %>
            <% unless Booking.find_by(user: current_user) %>
              <%= submit_tag "Book Now", class: "btn btn-light" %>
            <% end %>
          <% end %>
        <% end %>
    </div>
    </div>
  </div>
</div>

<%# Display reviews %>
<div class="row mt-5">
  <div class="col-md-12 mx-3">
    <h2>Reviews</h2>
    <% if @space.reviews.any? %>
      <% @space.reviews.each do |review| %>
        <div class="card-review">
          <h5 class="card-title"><strong>Rating: <%= review.rating %>/5</strong></h5>
          <p class="card-text"><%= review.comment %></p>
          <p class="card-text"><small class="text-muted">Posted by <strong><%= review.user.username %></strong> on <%= review.created_at.strftime("%B %d, %Y") %></small></p>
        </div>
      <% end %>
    <% else %>
      <p>No reviews yet.</p>
    <% end %>
  </div>
</div>
