<div class="mx-3 my-2">
  <h1>My Bookings</h1>

  <p id="booking-count">You have <%= @bookings.count %> bookings.</p>

  <% @bookings.each do |booking| %>
    <div class="mb-3" data-booking-id="<%= booking.id %>">
      <div class="card-booking">
        <h5 class="card-title">
          <%= link_to booking.space.title, space_path(booking.space) %>
        </h5>
        <div class="actions">
          <% if booking.reviews.nil? %>
            <%= link_to "Leave a Review", new_booking_review_path(booking), class: "btn btn-primary" %>
          <% end %>
          <%= button_to "Cancel booking", booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", data: { disable_with: "Processing..." } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
